@page "/post/update-post/{id:int}"
@using AffilateSource.Client.Services
@using AffilateSource.Shared.ViewModel.Filter
@using AffilateSource.Shared.ViewModel.Post
@using AffilateSource.Shared.ViewModel.Status
@using Telerik.Blazor.Components.Editor
@inject HttpClient Http
@inject PostApiServices postApi
@inject NavigationManager NavigationManager
@inject NotificationService _notice

<PageContainer Title="Chỉnh sửa bài đăng">

    <div class="demo-section">
        <TelerikTabStrip>
            <TabStripTab Visible="@TabLondonVisible"
                         Title="Bài đăng">
                <Form Model="@postEditViewModel"
                      Size="AntSizeLDSType.Large"
                      OnFinish="UpdateEmployee">
                    <AntDesign.FormItem>
                        <Text>ID</Text>
                        <Input ReadOnly Placeholder="ID" @bind-Value="@context.Id" />
                    </AntDesign.FormItem>
                    <AntDesign.FormItem>
                        <Text>Tên bài đăng</Text>
                        <Input Style="margin-top: 10px;" Placeholder="Mã chấm công" @bind-Value="@context.Title" />
                    </AntDesign.FormItem>
                    <AntDesign.FormItem>
                        <Text>Danh mục</Text>
                        <Select DataSource="@filtterRequest.dataSelectCategoryFilter"
                                @bind-Value="@context.CategoryParentId"
                                LabelName="@nameof(SelectModel.DisplayText)"
                                ValueName="@nameof(SelectModel.ValueText)"
                                Placeholder="Chọn danh mục chỉnh sửa"
                                AllowClear>
                        </Select>
                    </AntDesign.FormItem>
                    <AntDesign.FormItem>
                        <Template>
                            <label for="mail" class="k-label k-form-label">Thông tin bài đăng:</label>
                            <TelerikEditor Tools="@EditorToolSets.All"
                                           Height="500px"
                                           @bind-Value="@context.Description"></TelerikEditor>
                        </Template>
                    </AntDesign.FormItem>
                    <AntDesign.FormItem>
                        <Text>Trạng thái</Text>
                        <Select DataSource="@StatusViewModel"
                                @bind-Value="@context.StatusId"
                                LabelName="@nameof(StatusVm.StatusName)"
                                ValueName="@nameof(StatusVm.StatusId)"
                                Placeholder="Chọn trạng thái cần chỉnh sửa"
                                AllowClear>
                        </Select>
                    </AntDesign.FormItem>
                    <AntDesign.FormItem>
                        <Text>Hình ảnh</Text>
                        <TelerikUpload SaveUrl="@SaveUrl"
                                       RemoveUrl="@RemoveUrl"
                                       SaveField="file"
                                       OnSuccess="@((UploadSuccessEventArgs arg) => OnSuccessHandler(arg, "images"))"
                                       AllowedExtensions="@(new List<string>() {".jpg", ".png" })" MaxFileSize="1048576">
                        </TelerikUpload>
                        <div class="col-md-3 col-sm-12">
                            @if (!string.IsNullOrEmpty(context.ImagePost))
                            {
                                <div class="img-inform">
                                    <img style="width: 500px;margin-top: 20px;" src="@context.ImagePost">
                                </div>
                            }
                        </div>
                        <div class="col-md-3 col-sm-12 d-none">
                            <TelerikTextBox Enabled="false" @bind-Value="context.ImagePost" PlaceHolder="VD: example.png" Width="100%" InputMode="text" Class="k-invalidx form-control" Id="images"></TelerikTextBox>
                        </div>
                    </AntDesign.FormItem>

                    <AntDesign.FormItem WrapperColOffset="8" WrapperColSpan="16" Style="margin-bottom: 0px;">
                        <Button Type="@AntDesign.ButtonType.Primary" HtmlType="submit">
                            Cập nhật
                        </Button>
                    </AntDesign.FormItem>
                </Form>
            </TabStripTab>
            <TabStripTab Visible="@TabParisVisible"
                         Title="Chi tiết bài đăng">
                <TelerikGrid Data="@DetailPost"
                             Pageable="true"
                             Sortable="true"
                             PageSize="5">
                    <GridColumns>
                        <GridColumn Field=@nameof(PostDetailVm.SortDetail) Title="Thứ tự hiển thị" />
                        <GridColumn Field=@nameof(PostDetailVm.TitleDetail) Title="Tiêu đề" />
                        <GridColumn Field=@nameof(PostDetailVm.Title) Title="Sản phẩm Affilate" />

                        <GridColumn Field="@(nameof(PostDetailVm.Id))" Title="Chỉnh sửa" Width="120px">
                            <Template>
                                @{
                                    var post = context as PostDetailVm;
                                    <TelerikButton Class="btn-update-employee" OnClick="@(()=>btnUpdatePostDetails(post.Id))">Chỉnh sửa</TelerikButton>
                                }
                            </Template>
                        </GridColumn>
                    </GridColumns>
                </TelerikGrid>
            </TabStripTab>
        </TelerikTabStrip>
    </div>



</PageContainer>
<Modal Title="Chỉnh sửa chi tiết bài đăng"
       Footer=null
       OnCancel="@HandleCancelDetail"
       DestroyOnClose="true"
       Width="1000"
       Visible="@WindowVisible">
    <Form Model="@detailUpdate"
          OnFinish="UpdateDetail">
        <AntDesign.FormItem Style="display: inline-block;width:100px ">
            <Text>Mã chấm công</Text>
            <Input ReadOnly Placeholder="ID" @bind-Value="@context.Id" />
        </AntDesign.FormItem>
        <AntDesign.FormItem Style="display: inline-block;width:472px ">
            <Text>Tiêu đề</Text>
            <Input Placeholder="ID" @bind-Value="@context.TitleDetail" />
        </AntDesign.FormItem>
        <AntDesign.FormItem Style="display: inline-block">
            <Template>
                <label for="mail" class="k-label k-form-label">Chi tiết*:</label>
                <TelerikEditor Tools="@EditorToolSets.All"
                               Height="500px"
                               @bind-Value="@context.Content"></TelerikEditor>
            </Template>
        </AntDesign.FormItem>
        <AntDesign.FormItem>
            <Text>Danh mục</Text>
            <Select DataSource="@productSelect"
                    @bind-Value="@context.ProductId"
                    LabelName="@nameof(productSelectViewModel.Title)"
                    ValueName="@nameof(productSelectViewModel.Id)"
                    Placeholder="Chọn danh mục chỉnh sửa"
                    AllowClear>
            </Select>
        </AntDesign.FormItem>
        <AntDesign.FormItem Style="display: inline-block;width:472px ">
            <Text>Trạng thái</Text>
            <Input Placeholder="Trạng thái" @bind-Value="@context.StatusId" />
        </AntDesign.FormItem>
        <AntDesign.FormItem Style="display: inline-block;width:472px ">
            <Text>Thứ tự hiển thị</Text>
            <Input Placeholder="Trạng thái" @bind-Value="@context.SortDetail" />
        </AntDesign.FormItem>
        <AntDesign.FormItem WrapperColOffset="8" WrapperColSpan="16" Style="margin-bottom: 0px;">
            <Button Type="@AntDesign.ButtonType.Primary" HtmlType="submit">
                Cập nhật
            </Button>
        </AntDesign.FormItem>
    </Form>
</Modal>