@page "/post/update-post/{id:int}"
@using AffilateSource.Client.Services
@using AffilateSource.Shared.ViewModel.Filter
@using AffilateSource.Shared.ViewModel.Post
@using AffilateSource.Shared.ViewModel.Status
@using Telerik.Blazor.Components.Editor
@inject HttpClient Http
@inject PostApiServices postApi
@inject NavigationManager NavigationManager
@inject NotificationService _notice

<PageContainer Title="Chỉnh sửa bài đăng">

    <div class="demo-section">
        <TelerikTabStrip>
            <TabStripTab Visible="@TabLondonVisible"
                         Title="Bài đăng">
                <Form Model="@postEditViewModel"
                      Size="AntSizeLDSType.Large"
                      OnFinish="UpdateEmployee">
                    <AntDesign.FormItem>
                        <Text>ID</Text>
                        <Input ReadOnly Placeholder="ID" @bind-Value="@context.Id" />
                    </AntDesign.FormItem>
                    <AntDesign.FormItem>
                        <Text>Tên bài đăng</Text>
                        <Input Style="margin-top: 10px;" Placeholder="Tên bài đăng" @bind-Value="@context.Title" />
                    </AntDesign.FormItem>
                    <AntDesign.FormItem>
                        <Text>Danh mục</Text>
                        <Select DataSource="@filtterRequest.dataSelectCategoryFilter"
                                @bind-Value="@context.CategoryParentId"
                                LabelName="@nameof(SelectModel.DisplayText)"
                                ValueName="@nameof(SelectModel.ValueText)"
                                Placeholder="Chọn danh mục chỉnh sửa"
                                AllowClear>
                        </Select>
                    </AntDesign.FormItem>
                    <AntDesign.FormItem>
                        <Template>
                            <label for="mail" class="k-label k-form-label">Thông tin bài đăng:</label>
                            <TelerikEditor Tools="@EditorToolSets.All"
                                           Height="500px"
                                           @bind-Value="@context.Description"></TelerikEditor>
                        </Template>
                    </AntDesign.FormItem>
                    <AntDesign.FormItem>
                        <Text>Trạng thái</Text>
                        <Select DataSource="@StatusViewModel"
                                @bind-Value="@context.StatusId"
                                LabelName="@nameof(StatusVm.StatusName)"
                                ValueName="@nameof(StatusVm.StatusId)"
                                Placeholder="Chọn trạng thái"
                                AllowClear>
                        </Select>
                    </AntDesign.FormItem>
                    <AntDesign.FormItem>
                        <Text>Hình ảnh</Text>
                        <TelerikUpload SaveUrl="@SaveUrl"
                                       RemoveUrl="@RemoveUrl"
                                       SaveField="file"
                                       OnSuccess="@((UploadSuccessEventArgs arg) => OnSuccessHandler(arg, "images"))"
                                       AllowedExtensions="@(new List<string>() {".jpg", ".png" })" MaxFileSize="1048576">
                        </TelerikUpload>
                        <div class="col-md-3 col-sm-12">
                            @if (!string.IsNullOrEmpty(context.ImagePost))
                            {
                                <div class="img-inform">
                                    <img style="width: 500px;margin-top: 20px;" src="@context.ImagePost">
                                </div>
                            }
                        </div>
                        <div class="col-md-3 col-sm-12 d-none">
                            <TelerikTextBox Enabled="false" @bind-Value="context.ImagePost" PlaceHolder="VD: example.png" Width="100%" InputMode="text" Class="k-invalidx form-control" Id="images"></TelerikTextBox>
                        </div>
                    </AntDesign.FormItem>

                    <AntDesign.FormItem WrapperColOffset="8" WrapperColSpan="16" Style="margin-bottom: 0px;">
                        <Button Type="@AntDesign.ButtonType.Primary" HtmlType="submit">
                            Cập nhật
                        </Button>
                    </AntDesign.FormItem>
                </Form>
            </TabStripTab>
            <TabStripTab Visible="@TabParisVisible"
                         Title="Chi tiết bài đăng">
                <TelerikGrid Data="@DetailPost"
                             Pageable="true"
                             Sortable="true"
                             PageSize="5">
                    <GridToolBar>
                        <Space>
                            <SpaceItem>
                                <AntDesign.Button Icon="plus" Size="@ButtonSize.Large" Type="primary" OnClick="@CreatePostDetail">Thêm mới chi tiết</AntDesign.Button>
                            </SpaceItem>
                        </Space>
                    </GridToolBar>
                    <GridColumns>
                        <GridColumn Field=@nameof(PostDetailVm.SortDetail) Title="Thứ tự hiển thị" />
                        <GridColumn Field=@nameof(PostDetailVm.TitleDetail) Title="Tiêu đề" />
                        <GridColumn Field=@nameof(PostDetailVm.Title) Title="Sản phẩm Affilate" />

                        <GridColumn Field="@(nameof(PostDetailVm.Id))" Title="Chỉnh sửa" Width="120px">
                            <Template>
                                @{
                                    var post = context as PostDetailVm;
                                    <TelerikButton Class="btn-update-employee" OnClick="@(()=>btnUpdatePostDetails(post.Id))">Chỉnh sửa</TelerikButton>
                                }
                            </Template>
                        </GridColumn>
                    </GridColumns>
                </TelerikGrid>
            </TabStripTab>
        </TelerikTabStrip>
    </div>
</PageContainer>

<Modal Title="Thêm mới chi tiết bài đăng"
       Visible="@_visibleCreateDetailPost"
       OnOk="@HandleOkCreateAsync"
       OnCancel="@HandleCancelCreateDetailPost"
       Width="1000">
    <TelerikForm Model="@detailUpdate">
        <FormValidation>
            <DataAnnotationsValidator></DataAnnotationsValidator>
        </FormValidation>
        <FormItems>
            <Telerik.Blazor.Components.FormItem LabelText="ID bài đăng: " Field="@nameof(detailUpdate.PostId)" />
            <Telerik.Blazor.Components.FormItem LabelText="Tiêu đề*: " Field="@nameof(detailUpdate.TitleDetail)" />
            <TelerikEditor Tools="@EditorToolSets.All"
                           Height="300px"
                           @bind-Value="@detailUpdate.Content"></TelerikEditor>
            <Telerik.Blazor.Components.FormItem LabelText="Tên sản phẩm Affilate*: " Field="@nameof(detailUpdate.ProductAffilateName)" ColSpan="2" />
            <Telerik.Blazor.Components.FormItem LabelText="Giá sản phẩm Affilate*: " Field="@nameof(detailUpdate.ProductAffilatePrice)" ColSpan="2" />
            <Telerik.Blazor.Components.FormItem LabelText="Link Affilate Shopee*: " Field="@nameof(detailUpdate.LinkAffilateShopee)" ColSpan="2" />
            <Telerik.Blazor.Components.FormItem LabelText="Link Affilate Lazada*: " Field="@nameof(detailUpdate.LinkAffilateLazada)" ColSpan="2" />
            <Telerik.Blazor.Components.FormItem LabelText="Link Affilate Khác*: " Field="@nameof(detailUpdate.LinkAffilateOther)" ColSpan="2" />
            <Telerik.Blazor.Components.FormItem LabelText="Ảnh bài đăng*:" Field="@nameof(detailUpdate.ImageProducts)">
                <Template>
                    <label for="images" class="k-label k-form-label">Ảnh sản phẩm Affilate*:</label>
                    <TelerikUpload SaveUrl="@SaveUrl"
                                   RemoveUrl="@RemoveUrl"
                                   SaveField="file"
                                   OnSuccess="@((UploadSuccessEventArgs arg) => OnSuccessHandlerProductAff(arg, "images"))"
                                   AllowedExtensions="@(new List<string>() {".jpg", ".png",".jpeg" })" MaxFileSize="1048576">
                    </TelerikUpload>
                    <div class="col-md-3 col-sm-12">
                        @if (!string.IsNullOrEmpty(detailUpdate.ImageProducts))
                        {
                            <div class="img-inform">
                                <img style="width: 500px;margin-top: 20px;" src="@detailUpdate.ImageProducts">
                            </div>
                        }
                    </div>
                    <div class="col-md-3 col-sm-12 d-none">
                        <TelerikTextBox Enabled="false" @bind-Value="detailUpdate.ImageProducts" PlaceHolder="VD: example.png" Width="100%" InputMode="text" Class="k-invalidx form-control" Id="images"></TelerikTextBox>
                    </div>
                </Template>
            </Telerik.Blazor.Components.FormItem>
            <Telerik.Blazor.Components.FormItem LabelText="Trạng thái*: " Field="@nameof(detailUpdate.StatusIdDetail)" ColSpan="2">

            </Telerik.Blazor.Components.FormItem>
            <Telerik.Blazor.Components.FormItem LabelText="Thứ tự chi tiết*: " Field="@nameof(detailUpdate.SortDetail)" ColSpan="2" />
        </FormItems>
        <FormButtons></FormButtons>
    </TelerikForm>
</Modal>

<Modal Title="Chỉnh sửa chi tiết bài đăng"
       Footer=null
       OnCancel="@HandleCancelDetail"
       DestroyOnClose="true"
       Width="1000"
       Visible="@WindowVisible">
    <Form Model="@detailUpdate"
          OnFinish="UpdateDetail">
        <AntDesign.FormItem Style="display: inline-block;width:100px ">
            <Text>ID</Text>
            <Input ReadOnly Placeholder="ID" @bind-Value="@context.Id" />
        </AntDesign.FormItem>
        <AntDesign.FormItem Style="display: inline-block;width:472px ">
            <Text>Tiêu đề</Text>
            <Input Placeholder="Tiêu đề" @bind-Value="@context.TitleDetail" />
        </AntDesign.FormItem>
        <AntDesign.FormItem Style="display: inline-block">
            <Template>
                <label for="mail" class="k-label k-form-label">Chi tiết*:</label>
                <TelerikEditor Tools="@EditorToolSets.All"
                               Height="500px"
                               @bind-Value="@context.Content"></TelerikEditor>
            </Template>
        </AntDesign.FormItem>
        <AntDesign.FormItem Style="display: inline-block;width:472px ">
            <Text>Tên sản phẩm Affilate</Text>
            <Input Placeholder="Tên sản phẩm Affilate" @bind-Value="@context.ProductAffilateName" />
        </AntDesign.FormItem>
        <AntDesign.FormItem Style="display: inline-block;width:472px ">
            <Text>Giá sản phẩm Affilate</Text>
            <Input Placeholder="Giá sản phẩm Affilate" @bind-Value="@context.ProductAffilatePrice" />
        </AntDesign.FormItem>
        <AntDesign.FormItem Style="display: inline-block;width:472px ">
            <Text>Link Affilate Lazada</Text>
            <Input Placeholder="Link Affilate Lazada" @bind-Value="@context.LinkAffilateLazada" />
        </AntDesign.FormItem>
        <AntDesign.FormItem Style="display: inline-block;width:472px ">
            <Text>Link Affilate Shopee</Text>
            <Input Placeholder="Link Affilate Shopee" @bind-Value="@context.LinkAffilateShopee" />
        </AntDesign.FormItem>
        <AntDesign.FormItem Style="display: inline-block;width:472px ">
            <Text>Link Affilate Khác</Text>
            <Input Placeholder="Link Affilate Khác" @bind-Value="@context.LinkAffilateOther" />
        </AntDesign.FormItem>
        <AntDesign.FormItem>
            <Text>Hình ảnh sản phẩm</Text>
            <TelerikUpload SaveUrl="@SaveUrl"
                           RemoveUrl="@RemoveUrl"
                           SaveField="file"
                           OnSuccess="@((UploadSuccessEventArgs arg) => OnSuccessHandlerUpdateImageProduct(arg, "images"))"
                           AllowedExtensions="@(new List<string>() {".jpg", ".png" })" MaxFileSize="1048576">
            </TelerikUpload>
            <div class="col-md-3 col-sm-12">
                @if (!string.IsNullOrEmpty(context.ImageProducts))
                {
                    <div class="img-inform">
                        <img style="width: 500px;margin-top: 20px;" src="@context.ImageProducts">
                    </div>
                }
            </div>
            <div class="col-md-3 col-sm-12 d-none">
                <TelerikTextBox Enabled="false" @bind-Value="context.ImageProducts" PlaceHolder="VD: example.png" Width="100%" InputMode="text" Class="k-invalidx form-control" Id="images"></TelerikTextBox>
            </div>
        </AntDesign.FormItem>
        <AntDesign.FormItem Style="display: inline-block;width:472px ">
            <Text>Trạng thái</Text>
            <Select DataSource="@StatusViewModel"
                    @bind-Value="@context.StatusId"
                    LabelName="@nameof(StatusVm.StatusName)"
                    ValueName="@nameof(StatusVm.StatusId)"
                    Placeholder="Chọn trạng thái"
                    AllowClear>
            </Select>
        </AntDesign.FormItem>
        <AntDesign.FormItem Style="display: inline-block;width:472px ">
            <Text>Thứ tự hiển thị</Text>
            <Input Placeholder="Thứ tự hiển thị" @bind-Value="@context.SortDetail" />
        </AntDesign.FormItem>
        <AntDesign.FormItem WrapperColOffset="8" WrapperColSpan="16" Style="margin-bottom: 0px;">
            <Button Type="@AntDesign.ButtonType.Primary" HtmlType="submit">
                Cập nhật
            </Button>
        </AntDesign.FormItem>
    </Form>
</Modal>