@page "/banner"
@using AffilateSource.Client.Services
@using AffilateSource.Shared.ViewModel.BannerImages
@using AffilateSource.Shared.ViewModel.Status
@using Telerik.Blazor.Components
@using Telerik.Blazor.Components.Editor
@inject HttpClient Http
@inject PostApiServices postApi
@inject NavigationManager NavigationManager
@inject NotificationService _notice

<PageContainer Title="Hình ảnh trang chủ">
    <div class="demo-section">
        <TelerikTabStrip TabPosition=@tabPosition>
            <TabStripTab Title="Banner Slide">
                <TelerikGrid TItem="@SlideImageVm" OnRead=@ReadItems ScrollMode="@GridScrollMode.Scrollable"
                             FilterMode="@GridFilterMode.None"
                             SelectionMode="@selectionMode"
                             @bind-SelectedItems="@SelectedItems"
                             @ref="@DataSource"
                             Pageable="true"
                             @bind-PageSize="@PageSize" @bind-Page="@Page">
                    <GridToolBar>
                        <Space>
                            <SpaceItem>
                                <AntDesign.Button Icon="plus" Size="@ButtonSize.Large" Type="primary" @onclick="_=>ShowModal()">Thêm mới</AntDesign.Button>
                            </SpaceItem>
                            @*<SpaceItem>
                                <AntDesign.Button Style="background: #aa7ad0;border: #aa7ad0;" Icon="edit" Size="@ButtonSize.Large" Type="@AntDesign.ButtonType.Primary" OnClick=@btnUpdatePhongban>Cập nhật phòng ban</AntDesign.Button>
                                </SpaceItem>
                                <SpaceItem>
                                <AntDesign.Button Style="background: #eab046;border: #eab046;" Icon="edit" Size="@ButtonSize.Large" Type="@AntDesign.ButtonType.Primary" OnClick=@btnUpdateKhuVuc>Cập nhật khu vực</AntDesign.Button>
                                </SpaceItem>
                                <SpaceItem>
                                <AntDesign.Button Style="background: #7ad07b;border: #7ad07b;" Icon="edit" Size="@ButtonSize.Large" Type="edit" OnClick=@btnUpdateStatus>Cập nhật trạng thái</AntDesign.Button>
                                </SpaceItem>
                                <SpaceItem>
                                <AntDesign.Button Style="background: #f7e32a;border: #f7e32a;" Icon="upload" Size="@ButtonSize.Large" Type="upload" OnClick=@(()=> WindowVisibleImportFile = true)>Upload nhân viên</AntDesign.Button>
                                </SpaceItem>*@
                        </Space>
                    </GridToolBar>
                    <GridColumns>
                        <GridCheckboxColumn SelectAll="@ShowSelectAll" Width="30px"></GridCheckboxColumn>
                        <GridColumn Field="@(nameof(SlideImageVm.Id))" Editable="false" Title="ID" Width="120px">
                            <Template>
                                @{
                                    var product = context as SlideImageVm;
                                    @product.Id
                                    ;
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Field=@nameof(SlideImageVm.ImageSlide) Width="100px">
                            <HeaderTemplate>
                                <span class="k-display-flex k-align-items-center">
                                    <TelerikIcon Icon="image" />&nbsp;
                                    Image
                                </span>
                            </HeaderTemplate>
                            <Template>
                                @{
                                    var article = context as SlideImageVm;
                                    <img src="@(article.ImageSlide)" alt="" width="125" height="95" />
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Field="@(nameof(SlideImageVm.SlideName))" Editable="false" Title="Tên Banner Slide" Width="120px" />
                        <GridColumn Field="@(nameof(SlideImageVm.StatusId))" Title="Trạng thái" Width="120px" />
                        <GridColumn Field="@(nameof(SlideImageVm.Id))" Title="Chỉnh sửa" Width="120px">
                            <Template>
                                @{
                                    var post = context as SlideImageVm;
                                    <Button Type="primary" OnClick="@(()=>btnUpdate(post.Id))">
                                        Chỉnh sửa
                                    </Button>
                                }
                            </Template>
                        </GridColumn>
                    </GridColumns>
                </TelerikGrid>
            </TabStripTab>
            <TabStripTab Title="Banner HeaderBlog">
                <TelerikGrid TItem="@BannerImageCreateUpdate" OnRead=@ReadItemsBanner ScrollMode="@GridScrollMode.Scrollable"
                             FilterMode="@GridFilterMode.None"
                             SelectionMode="@selectionModeBanner"
                             @bind-SelectedItems="@SelectedItemsBanner"
                             @ref="@DataSourceBanner"
                             Pageable="true"
                             @bind-PageSize="@PageSize" @bind-Page="@Page">
                    <GridToolBar>
                        <Space>
                            <SpaceItem>
                                <AntDesign.Button Icon="plus" Size="@ButtonSize.Large" Type="primary" @onclick="_=>ShowModalBannerImage()">Thêm mới</AntDesign.Button>
                            </SpaceItem>
                        </Space>
                    </GridToolBar>
                    <GridColumns>
                        <GridCheckboxColumn SelectAll="@ShowSelectAllBanner" Width="30px"></GridCheckboxColumn>
                        <GridColumn Field="@(nameof(BannerImageCreateUpdate.Id))" Editable="false" Title="ID" Width="120px">
                            <Template>
                                @{
                                    var product = context as BannerImageCreateUpdate;
                                    @product.Id
                                    ;
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Field=@nameof(BannerImageCreateUpdate.PathImages) Width="100px">
                            <HeaderTemplate>
                                <span class="k-display-flex k-align-items-center">
                                    <TelerikIcon Icon="image" />&nbsp;
                                    Image
                                </span>
                            </HeaderTemplate>
                            <Template>
                                @{
                                    var article = context as BannerImageCreateUpdate;
                                    <img src="@(article.PathImages)" alt="" width="125" height="95" />
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn Field="@(nameof(BannerImageCreateUpdate.BannerName))" Editable="false" Title="Tên Banner" Width="120px" />
                        <GridColumn Field="@(nameof(BannerImageCreateUpdate.Type))" Editable="false" Title="Loại Banner" Width="120px" />
                        <GridColumn Field="@(nameof(BannerImageCreateUpdate.StatusName))" Title="Trạng thái" Width="120px" />
                        <GridColumn Field="@(nameof(BannerImageCreateUpdate.Id))" Title="Chỉnh sửa" Width="120px">
                            <Template>
                                @{
                                    var post = context as BannerImageCreateUpdate;
                                    <Button Type="primary" OnClick="@(()=>btnUpdateBannerImage(post.Id))">
                                        Chỉnh sửa
                                    </Button>
                                }
                            </Template>
                        </GridColumn>
                    </GridColumns>
                </TelerikGrid>
            </TabStripTab>
            <TabStripTab Title="Banner Footer">
                bcvb
            </TabStripTab>
        </TelerikTabStrip>
    </div>
</PageContainer>


<Modal Title="@("Thêm mới Banner Slides")"
       Visible="@_visible"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel">
    <Form Loading="loading" Model="@model"
          OnFinish="OnFinish"
          OnFinishFailed="OnFinishFailed"
          @ref="@_form">
        <AntDesign.FormItem Label="Tên Slide">
            <Input @bind-Value="@context.SlideName" />
        </AntDesign.FormItem>
        <AntDesign.FormItem Label="Trạng thái">
            <InputPassword @bind-Value="@context.StatusId" />
        </AntDesign.FormItem>
        <AntDesign.FormItem Label="Hình ảnh" Style="margin-bottom: 0px">
            <TelerikUpload SaveUrl="@SaveUrl"
                           RemoveUrl="@RemoveUrl"
                           SaveField="file"
                           OnSuccess="@((UploadSuccessEventArgs arg) => OnSuccessHandler(arg, "images"))"
                           AllowedExtensions="@(new List<string>() {".jpg", ".png" })" MaxFileSize="1048576">
            </TelerikUpload>
            <div class="col-md-3 col-sm-12">
                @if (!string.IsNullOrEmpty(context.ImageSlide))
                {
                    <div class="img-inform">
                        <img style="width: 300px;margin-top: 20px;" src="@context.ImageSlide">
                    </div>
                }
            </div>
            <div class="col-md-3 col-sm-12 d-none">
                <TelerikTextBox Enabled="false" @bind-Value="context.ImageSlide" PlaceHolder="VD: example.png" Width="100%" InputMode="text" Class="k-invalidx form-control" Id="images"></TelerikTextBox>
            </div>
        </AntDesign.FormItem>
    </Form>
</Modal>


<Modal Title="@("Chỉnh sửa Banner Slides")"
       Visible="@_visibleUpdate"
       OnOk="@HandleOkUpdate"
       OnCancel="@HandleCancelUpdate">
    <Form Loading="loadingUpdate" Model="@modelUpdate"
          OnFinish="OnFinishUpdate"
          OnFinishFailed="OnFinishFailedUpdate"
          @ref="@_formUpdate">
        <AntDesign.FormItem Label="Tên Slide">
            <Input @bind-Value="@context.SlideName" />
        </AntDesign.FormItem>
        <AntDesign.FormItem Label="Trạng thái">
            <Input @bind-Value="@context.StatusId" />
        </AntDesign.FormItem>
        <AntDesign.FormItem Label="Hình ảnh" Style="margin-bottom: 0px">
            <TelerikUpload SaveUrl="@SaveUrl"
                           RemoveUrl="@RemoveUrl"
                           SaveField="file"
                           OnSuccess="@((UploadSuccessEventArgs arg) => OnSuccessHandlerUpdate(arg, "images"))"
                           AllowedExtensions="@(new List<string>() {".jpg", ".png" })" MaxFileSize="1048576">
            </TelerikUpload>
            <div class="col-md-3 col-sm-12">
                @if (!string.IsNullOrEmpty(context.ImageSlide))
                {
                    <div class="img-inform">
                        <img style="width: 300px;margin-top: 20px;" src="@context.ImageSlide">
                    </div>
                }
            </div>
            <div class="col-md-3 col-sm-12 d-none">
                <TelerikTextBox Enabled="false" @bind-Value="context.ImageSlide" PlaceHolder="VD: example.png" Width="100%" InputMode="text" Class="k-invalidx form-control" Id="images"></TelerikTextBox>
            </div>
        </AntDesign.FormItem>
    </Form>
</Modal>


<Modal Title="@("Thêm mới Banner Images")"
       Visible="@_visibleBannerImage"
       OnOk="@HandleOkBannerImage"
       OnCancel="@HandleCancelBannerImage">
    <Form Loading="loadingBannerImage" Model="@modelBannerImage"
          OnFinish="OnFinishBannerImage"
          OnFinishFailed="OnFinishFailedBannerImage"
          @ref="@_formBannerImage">
        <AntDesign.FormItem Label="Tên Banner">
            <Input @bind-Value="@context.BannerName" />
        </AntDesign.FormItem>
         <AntDesign.FormItem Label="Loại banner">
            <InputPassword @bind-Value="@context.Type" />
        </AntDesign.FormItem>
        <AntDesign.FormItem Label="Trạng thái">
            <InputPassword @bind-Value="@context.StatusId" />
        </AntDesign.FormItem>
        <AntDesign.FormItem Label="Hình ảnh" Style="margin-bottom: 0px">
            <TelerikUpload SaveUrl="@SaveUrl"
                           RemoveUrl="@RemoveUrl"
                           SaveField="file"
                           OnSuccess="@((UploadSuccessEventArgs arg) => OnSuccessHandlerBannerImage(arg, "images"))"
                           AllowedExtensions="@(new List<string>() {".jpg", ".png" })" MaxFileSize="1048576">
            </TelerikUpload>
            <div class="col-md-3 col-sm-12">
                @if (!string.IsNullOrEmpty(context.PathImages))
                {
                    <div class="img-inform">
                        <img style="width: 300px;margin-top: 20px;" src="@context.PathImages">
                    </div>
                }
            </div>
            <div class="col-md-3 col-sm-12 d-none">
                <TelerikTextBox Enabled="false" @bind-Value="context.PathImages" PlaceHolder="VD: example.png" Width="100%" InputMode="text" Class="k-invalidx form-control" Id="images"></TelerikTextBox>
            </div>
        </AntDesign.FormItem>
    </Form>
</Modal>

<Modal Title="@("Chỉnh sửa Banner Image")"
       Visible="@_visibleUpdateBannerImage"
       OnOk="@HandleOkUpdateBannerImage"
       OnCancel="@HandleCancelUpdateBannerImage">
    <Form Loading="loadingUpdateBannerImage" Model="@modelUpdateBannerImage"
          OnFinish="OnFinishUpdateBannerImage"
          OnFinishFailed="OnFinishFailedUpdateBannerImage"
          @ref="@_formUpdateBannerImage">
        <AntDesign.FormItem Label="Tên Slide">
            <Input @bind-Value="@context.BannerName" />
        </AntDesign.FormItem>
        <AntDesign.FormItem Label="Loại Banner">
            <Input @bind-Value="@context.Type" />
        </AntDesign.FormItem>
        <AntDesign.FormItem Label="Trạng thái">
            <Input @bind-Value="@context.StatusId" />
        </AntDesign.FormItem>
        <AntDesign.FormItem Label="Hình ảnh" Style="margin-bottom: 0px">
            <TelerikUpload SaveUrl="@SaveUrl"
                           RemoveUrl="@RemoveUrl"
                           SaveField="file"
                           OnSuccess="@((UploadSuccessEventArgs arg) => OnSuccessHandlerUpdateBannerImage(arg, "images"))"
                           AllowedExtensions="@(new List<string>() {".jpg", ".png" })" MaxFileSize="1048576">
            </TelerikUpload>
            <div class="col-md-3 col-sm-12">
                @if (!string.IsNullOrEmpty(context.PathImages))
                {
                    <div class="img-inform">
                        <img style="width: 300px;margin-top: 20px;" src="@context.PathImages">
                    </div>
                }
            </div>
            <div class="col-md-3 col-sm-12 d-none">
                <TelerikTextBox Enabled="false" @bind-Value="context.PathImages" PlaceHolder="VD: example.png" Width="100%" InputMode="text" Class="k-invalidx form-control" Id="images"></TelerikTextBox>
            </div>
        </AntDesign.FormItem>
    </Form>
</Modal>
