@attribute [Authorize]
@page "/contact"
@using AffilateSource.Client.Services
@using AffilateSource.Shared.ViewModel.Contact
@using AffilateSource.Shared.ViewModel.Post
@using Telerik.Blazor.Components
@using Telerik.Blazor.Components.Editor
@inject HttpClient Http
@inject PostApiServices postApi
@inject NavigationManager NavigationManager
@inject ModalService _modalService
@inject NotificationService _notice
<PageContainer Title="Thông tin liên hệ và giới thiệu">
    <TelerikGrid Data=@GridData
                 PageSize="5"
                 Pageable=true>
        <GridColumns>
            <GridColumn Field="@(nameof(ContactVm.Content))" Editable="false" Title="Trang giới thiệu" Width="120px" />
            <GridColumn Field="@(nameof(ContactVm.ContentHome))" Title="Giới thiệu Trang chủ" Width="120px" />
            <GridColumn Field="@(nameof(ContactVm.Address))" Title="Địa chỉ" Width="120px" />
            <GridColumn Field="@(nameof(ContactVm.Email))" Title="Email" Width="120px" />
            <GridColumn Field="@(nameof(ContactVm.Phone))" Title="Số điện thoại" Width="120px" />
            <GridColumn Field="@(nameof(ContactVm.FacebookLink))" Title="Link Facebook" Width="120px" />
            <GridColumn Field="@(nameof(ContactVm.ZaloLink))" Title="Link Zalo" Width="120px" />
            <GridColumn Field="@(nameof(ContactVm.ID))" Title="Chỉnh sửa" Width="120px">
                <Template>
                    @{
                        var post = context as ContactVm;
                        <Button Type="primary" OnClick="@(()=>btnUpdate(post.ID))">
                            Chỉnh sửa
                        </Button>
                    }
                </Template>
            </GridColumn>
        </GridColumns>
    </TelerikGrid>
</PageContainer>

<Modal Title="@("Chỉnh sửa liên hệ - giới thiệu")"
       Visible="@_visibleUpdate"
       Width="1020"
       OnOk="@HandleOkUpdate"
       OnCancel="@HandleCancelUpdate">
    <Form Loading="loadingUpdate" Model="@modelUpdate"
          OnFinish="OnFinishUpdate"
          OnFinishFailed="OnFinishFailedUpdate"
          @ref="@_formUpdate">
        <AntDesign.FormItem >
            <Template>
                <label for="mail" class="k-label k-form-label">Mô tả giới thiệu:</label>
                <TelerikEditor Tools="@EditorToolSets.All"
                               Height="500px"
                               @bind-Value="@context.Content"></TelerikEditor>
            </Template>
            @*<Input @bind-Value="@context.Content" />*@
        </AntDesign.FormItem>
        <AntDesign.FormItem>
             <Template>
                <label for="mail" class="k-label k-form-label">Giới thiệu ngắn trang chủ:</label>
                <TelerikEditor Tools="@EditorToolSets.All"
                               Height="300px"
                               @bind-Value="@context.ContentHome"></TelerikEditor>
            </Template>
            @*<Input @bind-Value="@context.ContentHome" />*@
        </AntDesign.FormItem>
        <AntDesign.FormItem Label="Địa chỉ">
            <Input @bind-Value="@context.Address" />
        </AntDesign.FormItem>
        <AntDesign.FormItem Label="Email">
            <Input @bind-Value="@context.Email" />
        </AntDesign.FormItem>
        <AntDesign.FormItem Label="Số điện thoại">
            <Input @bind-Value="@context.Phone" />
        </AntDesign.FormItem>
        <AntDesign.FormItem Label="Link Facebook">
            <Input @bind-Value="@context.FacebookLink" />
        </AntDesign.FormItem>
        <AntDesign.FormItem Label="Link Zalo">
            <Input @bind-Value="@context.ZaloLink" />
        </AntDesign.FormItem>
    </Form>
</Modal>


<style>
    .pre {
        margin: 12px 0;
        padding: 12px 20px;
        background: #fff;
        box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
    }
    
</style>
